:root {
  --background: rgb(51, 51, 51);
  --black: rgb(34, 33, 33);
  --otstup: rgb(40, 40, 41);
  --white: rgb(255, 255, 255);
  --grey: rgb(191, 186, 186);
  --gold: rgb(235, 252, 4);
  --green: rgb(6, 241, 6);
  --blue: rgb(3, 7, 247);
}

body {
  width: 1200px;
  margin: 0 auto;
  background: var(--background);
  color: var(--white);
}

h1 img {
  width: 150px;
}

h2 {
  font-size: 50px;
}

p {
  font-size: 35px;
  padding: 20px 0;
}

img {
  max-width: 100%;
  height: auto;
}

header {
  width: 700px;
  display: flex;
  align-items: center;
  padding: 16px 0;
  text-align: right;
  margin: 0 100px;
}

nav ul {
  display: flex;
  list-style: none;
  margin-left: 60px;
}

nav li {
  margin: 10px;
}

nav a {
  position: relative;
  font-size: 13px;
  text-decoration: none;
  color: var(--white);
  text-transform: uppercase;
}

nav a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 1px;
  background-color: var(--grey);
  transition: width 0.1s ease;
}

nav a:hover::after {
  width: 100%;
}

nav a:active,
nav a:focus {
  color: var(--grey);
}

nav a:active::after,
nav a:focus::after {
  width: 100%;
}

.hero {
  width: 1200px;
  margin: 0 auto;
  align-items: flex-start;
  justify-content: space-between;
  background-color: var(--black);
  position: relative;
  padding-bottom: 9px;
}

.hero-text {
  width: 400px;
  margin-left: 100px;
  margin-top: 85px;
}

.hero-image {
  position: absolute;
  top: 0;
  right: 0;
}

.hero-image img {
  width: 400px;
  height: auto;
}

.benefits-list {
  list-style: none;
  padding: 0;
}

.benefits-list li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.benefits-list input[type='checkbox'] {
  width: 20px;
  height: 20px;
  accent-color: var(--white);
  margin-right: 10px;
}

.checkbox {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid var(--gold);
  background-color: var(--background);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  position: relative;
}

.checkmark {
  color: var(--white);
  font-size: 16px;
  display: none;
}

.checkbox.completed .checkmark {
  display: block;
}

.benefit-text strong {
  font-size: 20px;
  color: var(--green);
}

.benefit-text span {
  margin-left: 10px;
}

.btn {
  background-color: var(--white);
  color: var(--black);
  justify-content: space-between;
  padding: 20px;
  font-size: 14px;
  font-weight: bold;
  margin: 20px 0;
  border-radius: 5px;
  transition: 0.3s;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--gold);
  color: var(--blue);
  transition: 0.3s;
}

@media (max-width: 480px) {
  body {
    width: 100%;
    margin: 0;
  }

  .hero {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 0;
  }

  h1 img {
    width: 100px;
  }
  h2 {
    text-align: center;
    padding-left: 20px;
  }

  header {
    width: 320px;
    align-items: center;
    margin: 0;
  }

  nav ul {
    flex-direction: column;
    padding-left: 60px;
  }

  nav li {
    margin: 5px 0;
  }

  .hero-text {
    width: 90%;
    margin: 20px 0;
  }

  .hero-image {
    position: static;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .hero-image img {
    width: 95%;
    max-width: 100%;
    height: auto;
  }

  .benefits-list {
    padding: 10px;
  }

  .btn {
    width: 100px;
    padding: 15px;
    margin-top: 20px;
    align-self: center;
  }
}

@media (max-width: 320px) {
  body {
    width: 320px;
    margin: 0;
  }

  .hero {
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  h1 img {
    width: 100px;
    margin-left: 20px;
  }

  h2 {
    text-align: left;
    padding-left: 20px;
  }

  header {
    width: 100%;
    align-items: center;
    margin: 0;
  }

  nav ul {
    flex-direction: column;
    padding-left: 10px;
  }

  nav li {
    margin: 5px 0;
  }

  .hero-text {
    width: 100%;
    margin: 20px 0;
  }

  .hero-image {
    position: static;
    width: 90%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .hero-image img {
    width: 100%;
    max-width: 100%;
    height: auto;
    margin: 10px;
    padding-left: 30px;
  }

  .benefits-list {
    padding: 10px;
  }

  .btn {
    width: 100px;
    padding: 15px;
    margin-top: 20px;
    align-self: center;
  }
}
