:root {
  --background: rgb(51, 51, 51);
  --black: rgb(34, 33, 33);
  --otstup: rgb(40, 40, 41);
  --white: rgb(255, 255, 255);
  --grey: rgb(191, 186, 186);
  --gold: rgb(224, 198, 176);
  --green: rgb(6, 241, 6);
  --blue: rgb(3, 7, 247);
}

body {
  width: 1200px;
  margin: 0 auto;
  background: var(--background);
  color: var(--white);
}

h1 img {
  width: 150px;
}

h2 {
  font-size: 50px;
}

p {
  font-size: 35px;
  padding: 20px 0;
}

img {
  max-width: 100%;
  height: auto;
}

header {
  width: 700px;
  display: flex;
  align-items: center;
  padding: 16px 0;
  text-align: right;
  margin: 0 100px;
}

.header {
  transition: padding 0.3s;
}

.header-small {
  padding: 10px;
}

nav ul {
  display: flex;
  list-style: none;
  margin-left: 60px;
}

nav li {
  margin: 10px;
}

nav a {
  position: relative;
  font-size: 13px;
  text-decoration: none;
  color: var(--white);
  text-transform: uppercase;
}

nav a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 1px;
  background-color: var(--grey);
  transition: width 0.1s ease;
}

nav a:hover::after {
  width: 100%;
}

nav a:active,
nav a:focus {
  color: var(--grey);
}

nav a:active::after,
nav a:focus::after {
  width: 100%;
}

.hero {
  width: 1200px;
  margin: 0 auto;
  align-items: flex-start;
  justify-content: space-between;
  background-color: var(--black);
  position: relative;
}

.hero-text {
  width: 400px;
  margin-left: 100px;
  margin-top: 85px;
}

.hero-image {
  position: absolute;
  top: 0;
  right: 0;
}

.hero-image img {
  width: 400px;
  height: auto;
}

.benefits-list {
  list-style: none;
  padding: 0;
}

.benefits-list li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.benefits-list input[type='checkbox'] {
  width: 20px;
  height: 20px;
  accent-color: var(--white);
  margin-right: 10px;
}

.checkbox {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid var(--gold);
  background-color: var(--background);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  position: relative;
}

.checkmark {
  color: var(--white);
  font-size: 16px;
  display: none;
}

.checkbox.completed .checkmark {
  display: block;
}

.benefit-text strong {
  font-size: 20px;
  color: var(--green);
}

.benefit-text span {
  margin-left: 10px;
}

.btn {
  background-color: var(--white);
  color: var(--black);
  justify-content: space-between;
  padding: 20px;
  font-size: 14px;
  font-weight: bold;
  margin: 20px 0;
  border-radius: 5px;
  transition: 0.3s;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--gold);
  color: var(--white);
  transition: 0.3s;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px 0;
  padding-top: 60px;
}

.photo-left,
.photo-right {
  img {
    width: 100%;
    height: 500px;
    object-fit: cover;
  }
}

.content-center {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: var(--black);
}

.content-center div {
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.photo-left,
.photo-right {
  display: flex;
  align-items: center;
}

.content-center p {
  display: flex;
  padding: 20px 0;
  padding-right: 10px;
  font-size: 20px;
  align-items: center;
  text-align: center;
  justify-content: center;
}

hr {
  border: none;
  border-top: 1px solid var(--grey);
  margin: 10px 0;
  width: 100%;
}

.btn2 {
  width: 90%;
  background-color: var(--white);
  color: var(--black);
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 20px;
  font-size: 14px;
  font-weight: bold;
  margin-top: 20px;
  border-radius: 5px;
  transition: 0.3s;
  cursor: pointer;
}

.btn2:hover {
  background-color: var(--gold);
  color: var(--white);
  transition: 0.3s;
}

.btn2 {
  background-color: var(--white);
  color: var(--black);
  justify-content: space-between;
  padding: 20px;
  font-size: 14px;
  font-weight: bold;
  margin: 20px 0;
  border-radius: 5px;
  transition: 0.3s;
  cursor: pointer;
}

.btn2:hover {
  background-color: var(--gold);
  color: var(--white);
  transition: 0.3s;
}

.container {
  background-color: var(--otstup);
}

/* Адаптивы */

@media (max-width: 1200px) {
  body {
    width: 100%;
    margin: 2;
    display: flex;
  }

  .grid-container div {
    display: flex;
    align-items: center;
  }

  .content-center p {
    display: flex;
    padding: 13px 0;
    padding-right: 10px;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
}

@media (max-width: 768px) {
  body {
    display: flex;
    width: 100%;
    /* margin: 2; */
  }

  .hero {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 0;
  }

  h1 img {
    width: 100px;
    padding-left: 30px;
  }
  h2 {
    text-align: center;
    padding-left: 20px;
  }

  header {
    width: 763px;
    align-items: center;
    margin: 0 10px;
  }

  nav ul {
    flex-direction: column;
    padding-left: 350px;
  }

  nav li {
    margin: 8px 0;
  }

  .hero-text {
    width: 90%;
    margin: 20px 0;
  }

  .hero-image {
    position: static;
    width: 90%;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .hero-image img {
    width: 95%;
    max-width: 100%;
    height: auto;
  }

  .benefits-list {
    padding: 10px;
    margin-left: 30px;
  }

  .btn {
    width: 100px;
    padding: 15px;
    margin-top: 20px;
    align-self: center;
  }

  .grid-container {
    grid-template-columns: 1fr;
    margin: 20px;
  }

  .photo-left,
  .photo-right {
    order: 1;
  }

  .content-center {
    order: 2;
  }

  .grid-container div {
    display: flex;
    align-items: center;
    padding-left: 10px;
  }

  .content-center p {
    display: flex;
    padding: 10px 0;
    padding-right: 10px;
    font-size: 20px;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
}

@media (max-width: 480px) {
  body {
    width: 100%;
    margin: 2;
  }

  .hero {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 0;
  }

  h1 img {
    width: 100px;
  }
  h2 {
    text-align: center;
    padding-left: 20px;
  }

  header {
    width: 320px;
    align-items: center;
    margin: 0;
  }

  nav ul {
    flex-direction: column;
    padding-left: 60px;
  }

  nav li {
    margin: 5px 0;
  }

  .hero-text {
    width: 90%;
    margin: 20px 0;
  }

  .hero-image {
    position: static;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .hero-image img {
    width: 95%;
    max-width: 100%;
    height: auto;
  }

  .benefits-list {
    padding: 10px;
  }

  .btn {
    width: 100px;
    padding: 15px;
    margin-top: 20px;
    align-self: center;
  }

  .grid-container {
    grid-template-columns: 1fr;
    margin: 10px;
    object-fit: cover;
  }

  .grid-container div {
    display: flex;
    align-items: center;
    padding-left: 10px;
  }

  .content-center p {
    display: flex;
    padding: 10px 0;
    padding-right: 10px;
    font-size: 20px;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
}

@media (max-width: 320px) {
  body {
    width: 320px;
    margin: 0;
  }

  .hero {
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  h1 img {
    width: 100px;
    margin-left: 20px;
  }

  h2 {
    text-align: left;
    padding-left: 20px;
  }

  header {
    width: 100%;
    align-items: center;
    margin: 0;
  }

  nav ul {
    flex-direction: column;
    padding-left: 10px;
  }

  nav li {
    margin: 5px 0;
  }

  .hero-text {
    width: 100%;
    margin: 20px 0;
  }

  .hero-image {
    position: static;
    width: 90%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .hero-image img {
    width: 100%;
    max-width: 100%;
    height: auto;
    margin: 10px;
    padding-left: 30px;
  }

  .benefits-list {
    padding: 10px;
  }

  .btn {
    width: 100px;
    padding: 15px;
    margin-top: 20px;
    align-self: center;
  }

  .grid-container {
    grid-template-columns: 1fr;
    margin: 10px;
    object-fit: cover;
  }

  .content-center p {
    display: flex;
    padding: 10px 0;
    padding-right: 10px;
    font-size: 20px;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 550px;
  padding: 40px;
  background-color: var(--otstup);
}

.contact h2 {
  font-size: 48px;
  margin: 10px 0;
}

.contact-container {
  display: flex;
  align-items: stretch;
  max-width: 1000px;
  width: 100%;
  height: 330px;
  background: var(--white);
  color: var(--background);
  font-size: 20px;
  border-radius: 15px;
  position: relative;
  overflow: visible;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input[type='text'],
input[type='email'] {
  width: 98%;
  padding: 5px;
  border: 1px solid var(--gold);
  border-radius: 5px;
}

label {
  display: flex;
  align-items: center;
}

input[type='checkbox'] {
  margin-right: 10px;
}

form button {
  width: 100%;
  background-color: var(--background);
  color: var(--white);
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 20px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 5px;
  transition: 0.3s;
  cursor: pointer;
}

form button:hover {
  background-color: var(--white);
  color: var(--black);
}

.form-box {
  flex: 1;
  padding: 40px;
  background: var(--white);
  border-radius: 20px;
}

.image-box {
  flex: 1;
  position: relative;
  border-radius: 20px;
}

.building {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.woman {
  position: absolute;
  bottom: -120px;
  left: 60%;
  transform: translateX(-80%);
  max-width: 390px;
  z-index: 2;
  clip-path: polygon(0 0, 100% 0, 100% 76%, 0 76%);
}

.footer {
  background-color: var(--black);
  color: var(--white);
  padding: 20px;
}

footer a {
  margin: 0 30px;
}

footer p {
  font-size: 20px;
  padding-left: 80px;
}

footer ul {
  padding-left: 250px;
}

footer h1 img {
  padding-left: 80px;
}

.footer-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.footer-left {
  text-align: left;
}

.icon-container {
  display: flex;
  margin: 0 auto;
}


.footer-policy {
  text-align: center;
  margin-top: 20px;
  margin: 20px;
  color: var(--gold);
}

.icon {
  margin: 0 10px;
}

.icon img {
  width: 34px;
  height: 34px;
}

footer button {
  background-color: var(--white);
  color: var(--black);
  padding: 10px 20px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 5px;
  transition: 0.3s;
  cursor: pointer;
  margin-left: auto;
  margin-right: 60px;
}

footer button:hover {
  background-color: var(--gold);
  color: var(--white);
}

.privacy-policy {
  margin: 0 10px;
}
