:root {
  --header-small: rgba(34, 33, 33, 0.717);
  --background: rgb(51, 51, 51);
  --black: rgb(34, 33, 33);
  --otstup: rgb(40, 40, 41);
  --white: rgb(255, 255, 255);
  --grey: rgb(191, 186, 186);
  --gold: rgb(224, 198, 176);
  --green: rgb(6, 241, 6);
  --blue: rgb(3, 7, 247);
}

body {
  max-width: 78.125vw;
  height: 100vh;
  margin: auto;
  overflow: auto;
  font-family: Arial, sans-serif;
  background: var(--background);
  color: var(--white);
}

.grid-container-hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 78.125vw;
  height: 31.4141vw;
  overflow: visible;
}

header {
  grid-column: 1 / 2;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--black);
  position: sticky;
  top: 0;
  z-index: 1000;
  transition: background-color 0.3s;
}

.header-small {
  background-color: var(--header-small);
  padding: 0.6vw 1.125vw;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 11.25vw;
}

nav li {
  margin: 0 0.6vw;
}

nav a {
  position: relative;
  font-size: 0.9vw;
  text-decoration: none;
  color: var(--white);
  text-transform: uppercase;
}

nav a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -0.15vw;
  width: 0;
  height: 0.075vw;
  background-color: var(--grey);
  transition: width 0.1s ease;
}

nav a:hover::after {
  width: 100%;
}

nav a:active,
nav a:focus {
  color: var(--grey);
}

nav a:active::after,
nav a:focus::after {
  width: 100%;
}

h1 img {
  width: 13.5vw;
  padding-left: 5.25vw;
  margin: 1.125vw 0;
}

h2 {
  font-size: 4.5vw;
  margin-bottom: 1.5vw;
}

.hero-info {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  padding: 19.25vw 1.125vw 1.12vw 5.25vw; /* Верх, справа, низ, слева */
  background-color: var(--black);
  position: relative;
  height: 31.4141vw;
}

.hero-info p {
  font-size: 1.875vw;
  padding: 1.125vw 0;
}

.hero-info span {
  font-size: 1.35vw;
  padding: 1.125vw 0;
}

.hero-photo-right {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  position: relative;
  width: 100%;
  height: auto;
}

.hero-photo-right img {
  position: absolute;
  /* width: 100%; */
  height: 51.9vw;
  object-fit: cover;
}

.checkbox {
  width: 1.35vw;
  height: 1.35vw;
  border-radius: 50%;
  border: 0.1125vw solid var(--gold);
  background-color: var(--background);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0.6vw;
  position: relative;
}

.checkmark {
  color: var(--white);
  font-size: 0.9vw;
  display: none;
}

.checkbox.completed .checkmark {
  display: block;
}

.benefits-list li {
  display: flex;
  align-items: center;
  padding: 0.6vw;
  gap: 0.6vw;
}

.benefit-text strong {
  font-size: 1.125vw;
  color: var(--green);
}

.benefit-text span {
  margin-left: 0.6vw;
}

.btn {
  background-color: var(--white);
  color: var(--black);
  padding: 1.125vw;
  font-size: 0.9vw;
  font-weight: bold;
  margin: 1.125vw 0;
  border-radius: 0.3vw;
  transition: 0.3s;
  cursor: pointer;
  text-align: center;
}

.btn:hover {
  background-color: var(--gold);
  color: var(--white);
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  margin-top: 26vw;
  max-width: 78.125vw;
  height: 31.4141vw;
}

.photo-left img,
.photo-right img {
  max-width: 100%;
  height: 31.4141vw;
  object-fit: cover;
}

.content-center {
  width: 100%;
  height: 31.4141vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: var(--black);
}

.content-center div {
  display: flex;
  align-items: center;
  margin: 0 1.125vw;
}

.photo-left,
.photo-right {
  display: flex;
  align-items: center;
}

.content-center img {
  width: 3.4141vw;
}

.content-center p {
  display: flex;
  margin: 1.125vw;
  font-size: 0.9vw;
  align-items: center;
  text-align: center;
  justify-content: center;
}

hr {
  border: none;
  border-top: 0.075vw solid var(--grey);
  margin: 0.6vw 0;
  width: 100%;
}

.btn2 {
  width: 90%;
  background-color: var(--white);
  color: var(--black);
  padding: 1.125vw;
  font-size: 0.9vw;
  font-weight: bold;
  margin-top: 1.125vw;
  border-radius: 0.3vw;
  transition: 0.3s;
  cursor: pointer;
}

.btn2:hover {
  background-color: var(--gold);
  color: var(--white);
}

.container {
  background-color: var(--otstup);
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3vw 0;
  background-color: var(--otstup);
}

.contact-container {
  display: flex;
  justify-content: space-between;
  background: var(--white);
  color: var(--background);
  align-items: center;
  width: 100%;
  max-width: 67vw;
  gap: 1.125vw;
  border-radius: 0.9vw;
  margin-top: 3vw;
}

.form-box {
  flex: 1;
  background-color: var(--white);
  border: 0.075vw solid var(--gold);
  padding: 1.125vw;
  border-radius: 0.3vw;
  margin: 1.125vw;
}

.form-box h2 {
  font-size: 1.875vw;
  margin-bottom: 1.125vw;
}

.form-box input[type='text'],
.form-box input[type='email'] {
  border: 0.075vw solid var(--gold);
  width: 95%;
  padding: 0.6vw;
  margin: 0.6vw 0;
  border-radius: 0.3vw;
}

.form-box label {
  display: flex;
  align-items: center;
  margin: 0.6vw 0;
}

.form-box input[type='checkbox'] {
  margin-right: 0.6vw;
}

.form-box button {
  width: 100%;
  padding: 0.9vw;
  background-color: var(--background);
  color: var(--white);
  border-radius: 0.3vw;
  font-size: 1.125vw;
  cursor: pointer;
  transition: background-color 0.3s;
}

.form-box button:hover {
  background-color: var(--gold);
  color: var(--white);
}

.image-box {
  flex: 1;
  position: relative;
}

.image-box img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 0.9vw;
}

.image-box .woman {
  position: absolute;
  top: 61%;
  left: 34%;
  transform: translate(-50%, -50%);
  width: 25vw;
  z-index: 2;
  clip-path: polygon(0 0, 100% 0, 100% 76%, 0 76%);
}

.footer {
  background-color: var(--black);
  color: var(--white);
  padding: 1.125vw;
}

footer a {
  margin: 0 1.875vw;
}

footer p {
  font-size: 1.125vw;
  padding-left: 3.75vw;
}

footer ul {
  padding-left: 15vw;
}

footer h1 img {
  padding-left: 3.75vw;
}

.footer-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.125vw;
}

.footer-left {
  text-align: left;
}

.icon-container {
  display: flex;
  margin: 0 auto;
}

.footer-policy {
  text-align: center;
  margin-top: 1.125vw;
  margin: 1.125vw;
  color: var(--gold);
}

.icon {
  margin: 0 0.6vw;
}

.icon img {
  width: 1.875vw;
  height: 1.875vw;
}

footer button {
  background-color: var(--white);
  color: var(--black);
  padding: 0.6vw 1.125vw;
  font-size: 0.9vw;
  font-weight: bold;
  border-radius: 0.3vw;
  transition: 0.3s;
  cursor: pointer;
  margin-left: auto;
  margin-right: 3vw;
}

footer button:hover {
  background-color: var(--gold);
  color: var(--white);
}

.privacy-policy {
  margin: 0 0.6vw;
}
